*{
    margin: 0px;
    padding: 0px;
}
.heading_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(210, 210, 56);
}

.menus, .list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}
.container_front{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 25px; */
    background-image: url("images/bgr.png"), linear-gradient(45deg,rgb(35, 35, 250),rgb(210, 210, 56));
    color: rgb(255, 252, 218);
    height: 100vh;
    
}
.intro_text{
    /* font-size: x-large; */
    width: 500px;
    text-align: justify;
}
.intro_para{
    
    font-size: 20px;

}
#banner-title{
    font-size: 55px;
    
    
}
.banner_lg{
    padding: 50px;
    border: none;

}
.btn{
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: beige;
    font-weight:540;
}
.btn:hover{
    background-color: rgb(210, 210, 56);
    cursor:pointer;
}
.about_us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    
    background-image: url("images/bgr.png"),linear-gradient(52deg, rgb(210, 210, 56), rgb(35, 35, 250));
    color: rgb(255, 252, 218);
    height: 100vh;
    
}
.about_text{
    margin-top: 85px;
    width: 500px;
    padding: 25px;
    margin-left: 30px;
    
    box-shadow: 0px 0px 100px 30px rgb(210, 210, 56);
    opacity: 18px;
    border-radius: 40px;
    border: none;
   
    
}

#title_aboutUs{
    padding: 0px 30px;
    font-size: 55px;
}
#about_para{
    text-align: justify;
    margin-top: 35px;
    font-size: 20px;
    padding: 0px 30px;
}
.about_img{
    margin-top: 50px;
}
